@use '../helpers' as *;

.button {
  @include fluid-text(20, 14);

  padding-block: fluid(20, 10);
  padding-inline: fluid(40, 15);
  background-color: var(--color-light);
  font-weight: 600;
  text-transform: uppercase;
  border: rem(1) solid var(--color-dark);
  border-radius: var(--border-radius-small);
  user-select: none;
  transition-duration: var(--transition-duration);

    @include hover {
      background-color: var(--color-accent);
    }


  &-accent {
    color: var(--color-light);
    background-color: var(--color-accent);
    border: none;

    @include hover {
      background-color: var(--color-dark);
    }
  }
}
