@use '../helpers' as *;

.offer {
  padding-block: fluid(75, 25);

  &__header {
    @include flex-center;

    flex-direction: column;
    row-gap: rem(15);
    padding-bottom: fluid(50, 20);
  }

  &__subtitle {
    @include fluid-text(38, 19);

    font-weight: 500;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: fluid(30, 15);

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }

    &-inner {
      position: relative;
    }

    &-image {
      width: 100%;
      place-self: center;
      border-radius: rem(15) rem(15) 0 0;
      user-select: none;
    }

    &-like {
      position: absolute;
      top: 15%;
      left: 88%;
      translate: -50% -50%;
      color: var(--color-light);
      -webkit-tap-highlight-color: transparent;
      transition: all 0.3s ease;
      cursor: pointer;
      

      &.is-active {
        svg * {
          fill: var(--color-accent);
          stroke: var(--color-accent);
        }
      }
    }

    &-wrapper {
      padding-inline: rem(15);
      padding-top: rem(3);

      @include mobile {
        padding-inline: rem(3);
      }
    }

    &-info {
      @include fluid-text(19, 9);

      display: flex;
      justify-content: space-between;
      padding-top: rem(15);
      color: var(--color-gray);
      border-top: rem(1) solid var(--color-gray);

      @include mobile {
        adding-top: rem(10);
      }
    }

    &-price {
      @include fluid-text(16, 9);
      
      display: flex;
      justify-content: space-between;
      padding-top: fluid(50, 15);
      padding-bottom: rem(15);
      font-weight: 500;

      @include mobile {
        padding-bottom: rem(5);
      }

      &--cost {
        @include fluid-text (24, 10);
      }
    }

  }
}