@use '../helpers' as *;

.search {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0)), 
    url('../../images/header-bg.avif') center/cover no-repeat;
 
  &__main {
    @include flex-center;
    flex-direction: column;
    row-gap: rem(30);
  }

  &__body {
    text-align: center;
  }

  &__title {
    padding-top: rem(249);
  }  

  &__subtitle {
    @include fluid-text(32, 20);

    color: var(--color-light);
  }

  &__select {
    display: flex;
    justify-content: space-around;
    align-items: self-end;
    column-gap: rem(30);
    padding: rem(30) rem(50);
    margin-bottom: rem(223);
    color: var(--color-light);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: var(--border-radius-small);

    @include mobile {
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      row-gap: rem(20);
    }

    &-group {
      @include fluid-text(28, 24);
    }

    &-text {
      color: var(--color-light);
    }
    
    &-items {
      @include fluid-text(24, 18);
      
      
      width: 100%;
      padding: rem(12) rem(40) rem(12) rem(15);
      color: rgba(255, 255, 255, 0.5);
      background-color: transparent;
      border-bottom: var(--border);
      border-radius: var(--border-radius-small);
      appearance: none;
      cursor: pointer;
      transition-duration: var(--transition-duration);

      &:focus {
        outline: none;
        box-shadow: 0 0 0 rem(2) rgba(255, 255, 255, 0.2);
      }

      background-image: url('../../icons/vector.svg');
      background-repeat: no-repeat;
      background-position: right rem(15) center;
      background-size: rem(12) rem(8);
    }

    &-button {
      @include fluid-text(20, 16);

      width: rem(200);
      height: auto;
      padding: rem(20) rem(30);
      color: var(--color-light);
      background-color: transparent;
      font-weight: 700;
      text-transform: uppercase;
      border: var(--border);
      border-radius: var(--border-radius-small);
      transition-duration: var(--transition-duration);

      @include mobile {
        width: 100%;
      }

      @include hover {
        background-color:var(--color-accent);
      }
      
    }
  }
}



