@use '../helpers' as *;

.services {
  padding-block: fluid(75, 25);

  &__header {
    @include flex-center;

    flex-direction: column;
    row-gap: rem(15);
    text-align: center;
    padding-bottom: fluid(50,20);

    @include mobile {
      row-gap: rem(7);
    }
  }

  &__body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: fluid(30, 20);
    padding-bottom: fluid(25, 10);
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    transform: scale(0.98);
    transition: transform 0.3s ease-in-out;

    &.is-active {
      transform: scale(1);
    }
  }

  &__wrapper {
    position: relative;
  }

  &__image {
    position: absolute;
    z-index: -1;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: fluid(35, 25);
    padding: rem(20);
    width: fluid(400, 200);
    height: fluid(300, 150);
    color: var(--color-light);
    scroll-snap-align: start;

    @include mobile {
      padding: rem(10);
    }
  }

  &__label {
    @include fluid-text(14, 8);

    padding: rem(10);
    max-width: fluid(170, 90);
    text-transform: uppercase;
    white-space: nowrap;
    border: var(--border);
    border-radius: rem(5);
    user-select: none;

    @include mobile {
      padding: rem(5);
    }
  }

  &__link {
    @include fluid-text(22, 18);

    display: flex;
    justify-content: space-between;
    font-weight: 500;
    border-top: var(--border);

    @include hover {
      color: var(--color-accent);
    }
  }

  &__footer {
    @include flex-center;

    padding-top: fluid(25, 10);
  }
}