@use '../helpers' as *;

.services {
  &__header {
    @include flex-center;

    display: flex;
    flex-direction: column;
    row-gap: fluid(15, 7);
    padding-top: fluid(75, 30);
    padding-bottom: fluid(50, 20);
    text-align: center;
  }

  &__body {
    display: flex;  
    justify-content: center;
    gap: fluid(30, 20);
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
  }

  &__image {
    scroll-snap-align: start;
    flex-shrink: 0;
  }

  &__footer {
    @include flex-center;

    gap: fluid(40, 15);
    padding-top: fluid(50, 20);
  }
}