@use '../helpers' as *;

.special {
  &__title {
    @include flex-center;

    display: flex;
    justify-content: center;
    gap: rem(15);
    padding-top: fluid(150, 50);
    padding-bottom: fluid(50, 20);


    @include laptop {
      flex-direction: column;
      align-items: center;
    }
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: fluid(30, 10);
    grid-auto-flow: dense;
    grid-template-areas: 
      "box-1 box-1 box-1 box-2 box-2 box-3 box-3"
      "box-4 box-4 box-5 box-5 box-5 box-3 box-3";

      @include mobile {
        display: flex;
        flex-direction: column;
      }

      &-link {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.2);
          opacity: 0;
          transition: opacity 0.3s ease;
        }

        &:hover::after {
          opacity: 1;
        }

        @include mobile {
          width: 100%;
          max-height: rem(500);
        }

      }

      &-image {
        border-radius: var(--border-radius-big);
        object-fit: cover;

        @include mobile {
          height: fluid(700, 300);
        }
      }

      &-item {
        @include fluid-text (48, 26);
        @include abs-center;

        color: var(--color-light);
        font-weight: 500;

        @include mobile {
          position: absolute;
          top: 90%;
          left: 10%;
          translate: -10% -90%;
          border-top: var(--border);
        }

        @include hover {
          color: var(--color-accent);
        }
      }

      &-info {
        font-size: rem(16);

        @include hover {
          color: var(--color-accent);
        }
      }
  }
}